<h4 class="productsText">Fotos de la boda de Nicté y James</h4>

<div class="products" [photoGalleryGroup]="{ arrowEl: true, indexIndicatorSep: ' - ' }">
    <div *ngFor="let dat of this.posts.data | slice:0:this.show; let i=index">
        <div class="products-item">
            <div class="products-item-name">{{ dat.img_id }}</div>
            <div class="products-item-image" [photoGallery]="postImageUrl(dat.img_id)">
            <img [src]="postImageUrl(dat.img_id)" />
            </div>
        </div>
        
    </div>
</div>
<div class="viewMore" *ngIf="show < this.posts.data.length" (click)="increaseShow()">View More</div>
